.App {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

}
.title {
  font-size: 4rem;
  font-weight: 700;
  color:black;
  text-align: center;
  margin: 30px;
}

.titulo-columna{
  margin:10px;
  margin-bottom: 0px;
}

.foto_grande {
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  opacity: 0.5;

}

.search-container {
  display: flex;
  max-width: 300px;
  margin: 0 auto;
}

input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  outline: none;
}

button[type="submit"] {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

button[type="submit"]:hover {
  background-color: #45a049;
}
.contenedor-columnas {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin: 0 auto;
  width: 100%;
  max-width: 1800px;
  
}
.contenedor-farmacia {
  display: flex;
  flex-direction:column;
  margin:40px;
  justify-content: top;
  align-items: center;
  background-color: rgba(251, 253, 251, 0.7);
  border-radius: 10px;
  width: 500px;
  max-width: 500px;
  border: 1px solid #ccc;
  height: 650px;
}
.contenedor-lista-medicamentos{

  overflow: auto;
  margin:30px
}
.logo_farmacia{
  width:400px;
  height:100px;
  margin:0px;
}
.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 1s linear infinite;
  margin: 20px;
 
  
  transform: translate(-50%, -50%);
}

@keyframes spin {
  0% { transform: translate(-50%, -50%) rotate(0deg); }
  100% { transform: translate(-50%, -50%) rotate(360deg); }
}

.medicamentos {
  padding:3px;
  max-width: 350px;
}
.fila-detalles-medicamento {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: top;
  margin: 0 auto;
  width: 100%;
}